.wrapper {
    text-align: center;
}
.button {
    position: absolute;
    transition: .5s ease;
    top: 15%;
    right: 20.5%;
}
.fixed_footer {
    position: fixed;
    Width: 100%;
    bottom: 0;
}
.usight_logo {
    position: absolute;
    transition: .5s ease;
    top: 15%;
    left: 20.5%;
}