
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statistics</h2>
<h2>(Some Data)</h2>
@{
    var cd = new uSight_Web.Entities.ChartData(
        new List<string>() { "aa", "bb", "cc" },
        new List<string>() { "SeriesA", "SeriesB", "SeriesC" },
        new List<List<int>>()
        {
            new List<int>(){ 14, 16, 22},
            new List<int>(){ 29, 5, 32},
            new List<int>(){ 37, 58, 12}
        }
    );
    Html.RenderPartial("_ChartLine", cd);
    Html.RenderPartial("_ChartBar", cd);
    Html.RenderPartial("_ChartRadar", cd);
}
