
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Statistics</h2>
<h2>(Some Data)</h2 >
<canvas class="chart-bar" data-labels='["a", "b", "c"]' data-sets='[{"label": "Series A", "data": [10, 20, 30]}, {"label": "Series B", "data": [20, 30, 10]}]' width="400" height="400"></canvas>
