@{
    ViewBag.Title = "About uSight";
}
<h2>@ViewBag.Title</h2>
<h3>App description:</h3>

<p>uSight represents an online tool which uses intelligent recognition<br />
    software to track and detect wanted vehicles by their license plate<br />
    and gather additional information about public records as well as<br />
    form extensive statistics data to further improve services stated above.</p>
