@{
    ViewBag.Title = "Contact uSight";
}
<h2>@ViewBag.Title</h2>
<h3>App developers:</h3>

<address>
    Paulius Milmantas<br />
    Arnas Kelpša<br />
    Leonardas Mačiulis<br />
                      <br />
    VU MIF, Didlaukio g. 47,<br />
    LT-08303 Vilnius
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:SupportExample@usight.com">admin@uSight.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:MarketingExample@usight.com">mdcAdmin@uSight.com</a>
</address>