@{
    ViewBag.Title = "Home Page";
}

<!--  -->
<div>
    <img src="/Content/images/usight_logo.jpg" class="usight_logo" width="900" height="700">
</div>

<div>
    <a href="#" class="btn btn-success button">Upload...</a>
</div>
